    <div class="mb-5">
      <nav class="navbar navbar-example navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="index.html">
            <img src="/img/images.jpeg" width="30" height="30" alt="Personal Web" width="50" />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbar-ex-2"
            aria-controls="navbar-ex-2"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbar-ex-2">
            <div class="navbar-nav me-auto">
              <a class="nav-item nav-link" href="/">Home</a>
              <a class="nav-item nav-link" href="/blog">Blog</a>
              <a class="nav-item nav-link" href="/testimonials">Testimonials</a>
              <a class="nav-item nav-link active" href="/myproject">Myproject</a>
            </div>
          </div>
            <a class="btn rounded-pill btn-danger" href="/contact">Contact Me</a>
        </div>
      </nav>
     