<html
  lang="en"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data--path="/"
  data-template="vertical-menu-template-free"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>Arya Project - Contact Me</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/img/images.jpeg" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link
      rel="stylesheet"
      href="/vendor/css/core.css"
      class="template-customizer-core-css"
    />
    <link
      rel="stylesheet"
      href="/vendor/css/theme-default.css"
      class="template-customizer-theme-css"
    />
    <link rel="stylesheet" href="/css/demo.css" />

    <!-- Vendors CSS -->
    <link
      rel="stylesheet"
      href="/vendor/libs/perfect-scrollbar/perfect-scrollbar.css"
    />

    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="/js/config.js"></script>
  </head>
  <body>
    <!-- Navbar Menu -->
    <div class="mb-5">
      <nav class="navbar navbar-example navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="index.html">
            <img src="/img/images.jpeg" width="30" height="30" alt="" />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbar-ex-2"
            aria-controls="navbar-ex-2"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbar-ex-2">
            <div class="navbar-nav me-auto">
              <a class="nav-item nav-link" href="index.html">Home</a>
              <a class="nav-item nav-link" href="blog.html">Blog</a>
              <a class="nav-item nav-link" href="testimonials.html"
                >Testimonials</a
              >
              <a class="nav-item nav-link active" href="Myproject.html"
                >Myproject</a
              >
            </div>
          </div>
          <a class="btn rounded-pill btn-danger" href="contact.html"
            >Contact Me</a
          >
        </div>
      </nav>
    </div>

    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div
        class="layout-container d-flex justify-content-center"
        style="margin-top: 20px"
      >
        <div class="col-6">
          <div class="card mb-4">
            <h5 class="card-header">Get In Touch</h5>
            <div class="card-body">
              <div
                id="notification"
                class="alert alert-success d-none"
                role="alert"
              >
                Pesan berhasil dikirim!
              </div>
              <form
                id="contactForm"
                onsubmit="handleContactFormSubmit()"
                method="POST"
              >
                <div class="mb-3">
                  <div class="form-floating">
                    <input
                      type="text"
                      class="form-control"
                      id="name"
                      placeholder="Arya Afdhil Fikri"
                    />
                    <label for="name">Nama</label>
                  </div>
                </div>

                <div class="mb-3">
                  <div class="form-floating">
                    <input
                      type="email"
                      class="form-control"
                      id="email"
                      placeholder="aryaafdhil2002@gmail.com"
                    />
                    <label for="email">Email</label>
                  </div>
                </div>

                <div class="mb-3">
                  <div class="form-floating">
                    <input
                      type="text"
                      class="form-control"
                      id="subject"
                      placeholder="text"
                    />
                    <label for="subject">subject</label>
                  </div>
                </div>

                <div class="mb-3">
                  <div class="form-floating">
                    <select class="form-select" id="skill">
                      <option selected disabled>Select Skill</option>
                      <option value="frontend">Frontend</option>
                      <option value="backend">Backend</option>
                    </select>
                    <label for="skill">Skill</label>
                  </div>
                </div>

                <div class="mb-3">
                  <div class="form-floating">
                    <textarea
                      class="form-control"
                      id="message"
                      placeholder="Tulis pesan Anda di sini"
                    ></textarea>
                    <label for="message">Message</label>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Core JS -->
    <!-- build:js /vendor/js/core.js -->
    <script src="/vendor/libs/jquery/jquery.js"></script>
    <script src="/vendor/libs/popper/popper.js"></script>
    <script src="/vendor/js/bootstrap.js"></script>
    <script src="/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="/vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->

    <!-- Main JS -->
    <script src="/js/main.js"></script>

    <!-- Page JS -->

    <script src="/js/form-basic-inputs.js"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <script src="/js/controller/contact-form.js"></script>
    <script>
      document
        .getElementById("contactForm")
        .addEventListener("submit", handleContactFormSubmit);
    </script>
  </body>
</html>
