<html
  lang="en"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="assets/"
  data-template="vertical-menu-template-free"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>Arya Project - Testimonials</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="assets/img/images.jpeg" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link
      rel="stylesheet"
      href="assets/vendor/css/core.css"
      class="template-customizer-core-css"
    />
    <link
      rel="stylesheet"
      href="assets/vendor/css/theme-default.css"
      class="template-customizer-theme-css"
    />
    <link rel="stylesheet" href="assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link
      rel="stylesheet"
      href="assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css"
    />
    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="assets/js/config.js"></script>
  </head>
  <body>
    <!-- Navbar Menu -->
    <div class="mb-5">
      <nav class="navbar navbar-example navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="index.html">
            <img src="assets/img/images.jpeg" width="30" height="30" alt="" />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbar-ex-2"
            aria-controls="navbar-ex-2"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbar-ex-2">
            <div class="navbar-nav me-auto">
              <a class="nav-item nav-link" href="index.html">Home</a>
              <a class="nav-item nav-link" href="blog.html">Blog</a>
              <a class="nav-item nav-link" href="testimonials.html"
                >testimonials</a
              >
              <a class="nav-item nav-link active" href="Myproject.html"
                >Myproject</a
              >
            </div>
          </div>
          <a class="btn rounded-pill btn-danger" href="contact.html"
            >Contact Me</a
          >
        </div>
      </nav>
    </div>

    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <div class="col card">
          <div class="card-header">
            <h1 class="text-center">My Testimonials</h1>
            <h4 class="text-center">Rating By Star</h4>
            <div class="demo-inline-spacing text-center align-items-center">
              <!-- Basic Pagination -->
              <nav aria-label="Page navigation d-flex justify-content-center">
                <ul class="pagination d-flex justify-content-center">
                  <li class="page-item first">
                    <a
                      class="page-link btn-danger"
                      href="javascript:void(0);"
                      onclick="showAllTestimonials()"
                      ><i class="tf-icons bx">All</i></a
                    >
                  </li>
                  <li class="page-item first">
                    <a
                      class="page-link btn-danger"
                      onclick="filterTestimonialsByStar(1)"
                      href="javascript:void(0);"
                      >1&nbsp;<i class="tf-icons bx bx-star"></i
                    ></a>
                  </li>
                  <li class="page-item first">
                    <a
                      class="page-link btn-danger"
                      onclick="filterTestimonialsByStar(2)"
                      href="javascript:void(0);"
                      >2&nbsp;<i class="tf-icons bx bx-star"></i
                    ></a>
                  </li>
                  <li class="page-item first">
                    <a
                      class="page-link btn-danger"
                      onclick="filterTestimonialsByStar(3)"
                      href="javascript:void(0);"
                      >3&nbsp;<i class="tf-icons bx bx-star"></i
                    ></a>
                  </li>
                  <li class="page-item first">
                    <a
                      class="page-link btn-danger"
                      onclick="filterTestimonialsByStar(4)"
                      href="javascript:void(0);"
                      >4&nbsp;<i class="tf-icons bx bx-star"></i
                    ></a>
                  </li>
                  <li class="page-item first">
                    <a
                      class="page-link btn-danger"
                      onclick="filterTestimonialsByStar(5)"
                      href="javascript:void(0);"
                      >5&nbsp;<i class="tf-icons bx bx-star"></i
                    ></a>
                  </li>
                </ul>
              </nav>
              <!--/ Basic Pagination -->
            </div>
          </div>
          <div class="card-body">
            <div id="testimonialsContainer" class="row mb-5"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="assets/vendor/libs/jquery/jquery.js"></script>
    <script src="assets/vendor/libs/popper/popper.js"></script>
    <script src="assets/vendor/js/bootstrap.js"></script>
    <script src="assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="assets/vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->

    <!-- Main JS -->
    <script src="assets/js/main.js"></script>

    <!-- Page JS -->

    <script src="assets/js/form-basic-inputs.js"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script src="assets/js/controller/testimonial.js"></script>
  </body>
</html>
